*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins',sans-serif;
}

nav{
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(14px);
  height: 44px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.menu-icon{
  position: fixed;
  top: 8px;
  right: 15px;
  padding: 12px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon div{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  margin: 0 2px;
}

nav a{
  font-weight: 500;
  font-size: 15px;
  position: fixed;
  top: 44px;
  right: 15px;
  background-color: white;
  color: royalblue;
  padding: 3px 18px;
  border-radius: 10px;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.6);
  transform-origin: 100% 0;
  transform: scale(0);
}

/*menu events*/
body.appear{
  overflow: hidden;
}

.menu-icon.appear{
  border: 1px solid black;
  border-radius: 5px;
}

nav a.appear{
  animation: bounce 1s forwards ease-in;
}

@keyframes bounce{
0%{
  transform: scale(0);
}
10%{
  transform: scale(1.05);
}
15%,100%{
  transform: scale(1);
}
}
/*===*/

.profile{
  margin: 60px 15px 10px;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.profile-picture{
  width: 60px;
  border-radius: 50%;
}

.biodata{
  margin-left: 10px;
}

.biodata .about-me{
  color: gray;
  position: relative;
  bottom: 5px;
  font-size: 15px;
}

.part{
  font-weight: 500;
  border: 1px solid black;
  padding-left: 3px;
  width: 65px;
  background-color: #333333;
  color: white;
  clip-path: polygon(0 0,100% 0,80% 50%,100% 100%,0 100%);
}

.skills{
  overflow: hidden;
  margin-bottom: 15px;
}

.skills .skill{
  height: 44px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  border-radius: 10px;
  margin: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(400%);
  animation: mySkill 1s forwards;
  animation-delay: .3s;
}

.skill .name{
  margin-left: 10px;
}

.skill img{
  width: 25px;
  margin: 8px 10px 0;
}

/*skills animation*/
@keyframes mySkill{
  0%{
    transform: translateY(400%);
  }
  100%{
    transform: translateY(0);
  }
}

.projects-section{
  width: 90px;
}

.projects .image{
  display: flex;
  overflow: hidden;
  margin: 10px 15px 20px 15px;
}

.projects img{
  width: 150px;
  animation: slideshow 21s linear infinite;
  margin: 0 5px;
  border-radius: 10px;
}

/*projects animation*/
@keyframes slideshow{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-427%);
  }
}

.contact-section{
  width: 92px;
}

.contact{
  margin: 10px 15px 40px 15px;
}

.email,.address{
  font-weight: 500;
  margin: 27px 0;
}

.email+a,.address+p{
  font-size: 15px;
}

.email+a{
  color: royalblue;
}

.end img{
  width: 20px;
}

.end{
  height: 100px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gray;
}

.end p{
  font-size: 13px;
}
