*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: none;
}

body{
  font-family: 'Poppins',sans-serif;
}

nav{
  background-color: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(14px);
  height: 44px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.menu-icon{
  position: fixed;
  top: 7px;
  right: 15px;
  padding: 12px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.menu-icon div{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  margin: 0 2px;
}
nav .name{
  font-family: 'Borel',sans-serif;
  color: black;
  font-weight: 700;
  position: fixed;
  top: 12px;
  left: 15px;
}

nav a{
  position: fixed;
  top: 44px;
  right: 15px;
  background-color: white;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.6);
  color: blue;
  font-size: 15px;
  transform-origin: 100% 0;
  transform: scale(0);
}

/*menu events*/
body.appear{
  overflow: hidden;
}

.menu-icon.appear{
  border: 1px solid black;
}

nav a.appear{
  animation: bounce 1s forwards ease-in;
}

@keyframes bounce{
0%{
  transform: scale(0);
}
10%{
  transform: scale(1.05);
}
15%,100%{
  transform: scale(1);
}
}
/*===*/
